node_modules/
dist
build
coverage
.vscode
.env
fix-imports.js
SPECTRE_CTF_Antigravity_Prompt.txt
scratch_api_test.js
scratch_test.js
test_leaderboard.js
test_solves.js
test_team.js
test_team2.js
test-mongo.js
test-srv.js
find-users.js
migrate_progress.js
reset-passwords.js
syncSolves.js
crack-hash.js